.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

#users.styled-table thead th {
    text-align: center;
}


.styled-table th,
.styled-table td,
table#users.styled-table thead {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr:hover {
    cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody>tr:hover {
    color: #009879;
    background-color: rgb(250, 250, 78, 0.6);
}

.styled-table tbody td .locked:before {
    content: "\F47B";
    justify-content: center;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: "bootstrap-icons";
}

.styled-table tbody tr.locked {
    background-color: rgb(237, 206, 50);
    outline: 2px dashed red;
    color: darkred;
    font-weight: bolder;
}

.styled-table td>a {
    text-decoration: none;
}

.styled-table td .badge {
    font-size: 0.75rem;
}

.styled-table td .badge:hover {
    color: white !important;
    background-color: rgb(108, 26, 201) !important;
}